{% extends 'base.html' %}

{% block title %}
Contact Us page
{% endblock title %}

{% block body %}
<div class='container-fluid'>
    <img src="https://source.unsplash.com/1200x400/?Contact,Phone" class="d-block w-100 my-4" alt="...">
    <h1 class='text-center'> Contact Us </h1>
</div>
<form method='post' action="/contact">
{% csrf_token %}
    <div class='container' mb-3>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your full name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="mobile" class="form-label">Contact Number</label>
            <input type="mobile" class="form-control" id="mobile" name="mobile" placeholder="Enter your mobile number">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Enter description</label>
            <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
    
        <button class="btn btn-primary" type="submit"> Submit</button>
    </div>
</form>

{% endblock body %}